@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, Inter, Noto Sans KR, sans-serif;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html[lang=ko] .desc {
    height: 650px;
}

body {
    padding: 0 !important;
    overflow-x: hidden;
    margin: 0 !important;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
}

body, .intro {
    background: #f5f6fa;
    color: #2f3640;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 97vw;
    height: 65px;
    padding: 15px;
    top: 15px;
    left: 15px;
    background: rgba(246,248,250,.3);
    border-radius: 8px;
    backdrop-filter: blur(6px);
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    z-index: 9;
    transform: translateY(-100px);
    transition: transform .3s;
}

nav h1 {
    padding-right: 10px;
    border-right: 1.5px solid #2f3640;
}

nav span {
    margin-left: 10px;
    font-weight: 500;
}

nav span a, .intro a {
    color: #0366d6;
}

nav select, .intro select {
    width: 130px;
    height: 28px;
    border: 1.5px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    padding: 5px;
    transition: border .15s, box-shadow .15s;
}

nav select:focus, .intro select:focus {
    border: 1.5px solid #0366d6;
    box-shadow: 2px 2px 5px rgba(3,102,214,.3);
}

nav select {
    background: none;
    justify-self: flex-end;
    margin-left: auto;
}

.intro {
    padding: 35vh 0 0 5vw;
    height: 100vh;
}

.intro h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 15px;
    width: 500px;
    border-bottom: 1.5px solid gray;
    animation: intro_border 1s;
}

.intro h1 br {
    display: none;
}

.intro h2 {
    animation: intro_desc 2s;
}

.intro select {
    position: absolute;
    top: 15px;
    right: 15px;
}

.spec, .skills, .desc, .projects {
    display: flex;
}

.desc, .skills, .projects {
    justify-content: center;
}

.spec {
    justify-content: space-around;
    background: #576574;
    height: 200px;
    width: 100%;
    font-size: 20px;
    color: white;
}

.spec div {
    text-align: center;
    font-weight: 450;
    margin-top: 15px;
}

.spec h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc {
    align-items: center;
    height: 500px;
    background: #f5f5f5;
    padding: 0 200px 0 200px;
}

.desc h2 {
    margin-right: 30px;
}

.desc article {
    width: 40%;
    border-left: 1.5px solid gray;
    padding: 30px;
}

.skills {
    flex-wrap: wrap;
    background: #b2bec3;
    height: 700px;
    padding-top: 50px;
    padding: 50px 200px 0 200px;
}

.skills h2 {
    width: 100%;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

.skills ul {
    margin-left: 15px;
}

.skills li {
    margin-left: 30px;
}

.projects {
    height: 550px;
    background: #ced6e0;
    padding: 100px 200px 0 200px;
    flex-wrap: wrap;
}

.projects h2 {
    width: 100%;
    margin-left: 150px;
}

.projects .card {
    width: 60%;
    height: 270px;
    display: flex;
    align-items: center;
}

.env {
    height: 500px;
    background: #485460;
    color: white;
    padding: 70px 200px 0 200px;
}

.env div {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.env a {
    display: block;
    width: 200px;
    height: 200px;
    background: white;
    color: #2f3640;
    border-radius: 100px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2.5px solid white;
    transition: box-shadow .3s, transform .3s, border .3s;
}

.env a:hover {
    text-decoration: none;
}

.env a img {
    height: 40%;
    margin-bottom: 15px;
}

.env div a:last-child img {
    height: 50%;
}

.contact {
    height: 300px;
    background: #10ac84;
    color: white;
    padding: 50px 200px 0 200px;
}

.contact div {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    width: 150px;
    height: 50px;
    background: white;
    transition: background .2s, color .2s, border .2s;
}

.contact a:hover {
    text-decoration: none;
    color: white;
    border: 1.5px solid white;
}

.contact a img {
    height: 25px;
    margin-right: 15px;
}

.contact .fb {
    color: #1877f2;
    border: 1.5px solid #1877f2;
}

.contact .fb:hover {
    background: #1877f2;
}

.contact .fb img {
    filter: invert(33%) sepia(97%) saturate(2287%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

.contact .gram {
    color: #e4405f;
    border: 1.5px solid #e4405f;
}

.contact .gram:hover {
    background: #e4405f;
}

.contact .gram img {
    filter: invert(31%) sepia(86%) saturate(1340%) hue-rotate(320deg) brightness(94%) contrast(91%);
}

.contact .twt {
    color: #1da1f2;
    border: 1.5px solid #1da1f2;
}

.contact .twt:hover {
    background: #1da1f2;
}

.contact .twt img {
    filter: invert(63%) sepia(59%) saturate(4959%) hue-rotate(176deg) brightness(100%) contrast(90%);
}

.contact .gh {
    color: #181717;
    border: 1.5px solid #181717;
}

.contact .gh:hover {
    background: #181717;
}

.contact .gh img {
    filter: invert(4%) sepia(6%) saturate(501%) hue-rotate(315deg) brightness(95%) contrast(89%);
}

.contact .gm {
    color: #d14836;
    border: 1.5px solid #d14836;
}

.contact .gm:hover {
    background: #d14836;
}

.contact .gm img {
    filter: invert(38%) sepia(34%) saturate(2765%) hue-rotate(337deg) brightness(86%) contrast(89%);
}

.card {
    width: 40%;
    height: 240px;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    border: 2.5px solid white;
    padding: 30px;
    transition: box-shadow .3s, transform .3s, border .3s;
}

.card:hover, .env div a:hover {
    border: 2.5px solid #0366d6;
    box-shadow: 5px 5px 15px rgba(3,102,214,.3);
    transform: translateY(-5px);
}

.card h4 {
    font-size: 25px;
    font-weight: 600;
}

.card > h4 {
    margin: 0 0 20px 0;
}

.card img {
    height: 90%;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.3));
}

.card div {
    margin-top: -10px;
    margin-left: 20px;
}

.card div h4 {
    margin: 0 0 10px 0;
}

@keyframes intro_border {
    from { width: 0px; text-indent: -400px; }
    to {}
}

@keyframes intro_desc {
    from { filter: opacity(0); }
    to {}
}

@media (max-width: 1500px) {
    .desc {
        padding: 0;
        height: 80vh;
        overflow: hidden;
        flex-direction: column;
    }
    
    .desc article {
        font-size: 14px;
        width: 95%;
        border-top: 1.5px solid gray;
        border-left: none;
        padding: 10px;
    }
    
    .projects h2 {
        width: 90%;
        height: 30px;
        margin: 0 0 50px 0;
    }
    
    .projects .card {
        flex-direction: column;
        height: 350px;
        margin: 0 0 50px 0;
    }
    
    .card img {
        height: 90px;
    }
}

@media (max-width: 950px) {
    .spec {
        font-size: 15px;
    }

    .spec h4 {
        font-size: 20px;
    }

    .skills, .projects {
        padding: 50px 5px 0 5px;
    }

    .skills h2 {
        width: 90%;
    }

    .env {
        padding: 30px 15px 0 15px;
    }

    .contact {
        padding: 50px 15px 0 15px;
    }
}

@media (max-width: 700px) {
    .spec {
        align-items: center;
        flex-direction: column;
        height: 250px;
        padding-bottom: 50px;
    }
    
    .spec div:nth-child(1) {
        width: 80%;
        border-bottom: 1.5px solid white;
        padding-bottom: 15px;
    }
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    .intro {
        padding: 25vh 15px 15px 5vw;
        font-size: 14px;
    }

    .intro h1 {
        width: 80%;
        font-size: 40px;
    }

    .intro h1 br {
        display: initial;
    }

    .intro h1 span {
        display: none;
    }

    .intro h2 {
        font-size: 20px;
    }

    .skills {
        height: 1050px;
    }

    .skills ul {
        height: 200px;
        margin: 0;
    }

    .projects {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 550px;
    }

    .projects .card {
        font-size: 12.5px;
    }

    .projects .card h4 {
        font-size: 17px;
        margin: 0;
    }

    .env {
        flex-direction: column;
    }

    .env div {
        flex-wrap: wrap;
        width: 90%;
        margin-left: 5%;
    }

    .env a {
        width: 150px;
        height: 150px;
    }

    .contact {
        height: 350px;
        padding: 50px 15px 0 15px;
    }

    .contact div {
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap;
    }

    .contact a {
        margin-bottom: 15px;
    }

    .card {
        width: 90%;
        height: 220px;
        font-size: 14px;
        padding: 20px;
    }

    .card h4 {
        font-size: 20px;
    }
}