@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, Inter, 나눔스퀘어, sans-serif;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

body {
    padding: 0 !important;
    overflow-x: hidden;
    margin: 0 !important;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
}

body, .intro {
    background: #f5f6fa;
    color: #2f3640;
}

body>div {
    border-bottom: 1.5px solid #2f3640;
}

a {
    text-decoration: none;
    color: #0366d6;
}

a:hover {
    text-decoration: underline;
}

.intro {
    padding: 35vh 0 0 5vw;
    height: 100vh;
}

.intro h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 15px;
    width: 500px;
    border-bottom: 1.5px solid gray;
    animation: intro_border 1s;
}

.intro h2 {
    animation: intro_desc 2s;
}

.spec, .skills, .desc, .projects {
    display: flex;
}

.desc, .skills, .projects {
    justify-content: center;
}

.spec {
    justify-content: space-around;
    background: #576574;
    height: 200px;
    width: 100%;
    font-size: 20px;
    color: white;
}

.spec div {
    text-align: center;
    font-weight: 450;
    margin-top: 15px;
}

.spec h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc {
    align-items: center;
    height: 500px;
    background: #f5f5f5;
    padding: 0 200px 0 200px;
}

.desc h2 {
    margin-right: 30px;
}

.desc article {
    width: 40%;
    border-left: 1.5px solid gray;
    padding: 30px;
}

.skills {
    flex-wrap: wrap;
    background: #ffdd57;
    height: 700px;
    padding-top: 50px;
    padding: 50px 200px 0 200px;
}

.skills h2 {
    width: 100%;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

.skills ul {
    margin-left: 15px;
}

.skills li {
    margin-left: 30px;
}

.projects {
    height: 550px;
    background: #f6f8fa;
    padding: 100px 200px 0 200px;
    flex-wrap: wrap;
}

.projects h2 {
    width: 100%;
    margin-left: 150px;
}

.projects .card {
    width: 60%;
    height: 270px;
    display: flex;
    align-items: center;
}

.card {
    width: 40%;
    height: 240px;
    background: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    transition: box-shadow .3s, transform .3s;
    padding: 30px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,.3);
    transform: translateY(-5px);
}

.card h4 {
    font-size: 25px;
    font-weight: 600;
}

.card>h4 {
    margin: 0 0 20px 0;
}

.card img {
    height: 90%;
    filter: drop-shadow(0 0 5px rgba(0,0,0,.3));
}

.card div {
    margin-top: -10px;
    margin-left: 20px;
}

.card div h4 {
    margin: 0 0 10px 0;
}

@keyframes intro_border {
    from { width: 0px; text-indent: -400px; }
    to {}
}

@keyframes intro_desc {
    from { filter: opacity(0); }
    to {}
}